<!DOCTYPE html>
<html>
<head>
  <title>Words and Definitions</title>
  <!-- <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css'> -->

  <link rel='styleSheet' href="./public/style.css" type="text/css" >
</head>
<body>
  <div class="container">
    <%= yield %>
  </div>
</body>
</html>
