<h1>Add A New Word and Definition</h1>

<p>Add a word here:</p>

<form action="/words" method="post">

  <label for="word">Enter your word:</label>
  <input id="word" name="word" type="text">

  <label for="def1">Enter a definition:</label>
  <input id="def1" name="def1" type="text">

  <label for="def2">Enter another definition:</label>
  <input id="def2" name="def2" type="text">

  <button type="submit">Add</button>
</form>
